.vertical-ticker {
  display: flex;
  flex-direction: column;
  animation: scroll-up 40s linear infinite;
  will-change: transform;
}

.ticker-item {
  flex: 0 0 auto;
  margin-bottom: 16px;
}
@keyframes scroll-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}
